* {
	margin:0;
	padding:0;
   }

body
 {
 	background: #ccc;
 	font-family: sans-serif;
 }


span {
	
	font-size: 20px;
	}

#button {
   float: right;
   margin-top: 25px; /*space sa taas*/
   margin-left: 0;
   margin-right: 30px;
   }

img
 {
 	position: absolute;
 	margin-top: 25px;
 	margin-left: 20px;
 	width: 200px;
 	height:200px;
 	border-radius: 48%;
 }

 ul 
 {
 	position: relative;
 	display: flex;
 	margin: 0;
 	padding: 0;
 }

 ul li 
 {
 	list-style: none;
 	margin: 0 20px; 
 	text-align: center;
 	height: 50px;
 	justify-content: space-around;
 }

 
 ul li a .fa
 {
 	font-size: 25px;
 	color:#9e9d9b;
 	line-height: 50px;
 	transition: 0.5s;
 	padding-right: 5px;
 }

 ul li a span
 {
 	padding:0;
 	position: relative;
 	line-height: 50px;
 	top:0;
 	color:#9e9d9b; /*color ng  text sa buton */
 	letter-spacing: 4px;
 	transition: 0.5s;
 }


ul li a 
{
	text-decoration: none;
	display: inline-block;
	width: 140px;
	height: 50px;
	background:#3a3b3d;  /*button colors */
	border-radius:10px; 
	text-align: left;
	padding-left: 10px;
	transition: 0.5s;
	box-shadow:  -15px 15px 10px rgba(0,0,0,0.5);
}


ul li a:before
{
	content: '';
	position: relative;
	top: 10px;
	left: -20px;
	height: 100%;
	width: 20px;

}


ul li a:after
{
	content: '';
	position: relative;
	bottom: -20px;
	left: -10px;
	height: 20px;
	width: 100%;
}


ul > li:hover .fa 
{
  color:#0722ab;
}

ul > li:hover span
{
   color:#dbd000;
}

ul li:hover a
{
	background:#000000;
}


